<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Ver Cliente</title>
    <link rel="stylesheet" href="css/verClientes.css"/>
</head>
<body>

<div class="card" id="container">
    <div id="contenido"></div>
</div>

<!-- Loading -->
<div id="loading" class="loading-overlay" style="display: block">
    <div class="spinner">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>


<script type="module" src="js/verCliente.js"></script>
</body>
</html>